global
    log stdout format raw local0 debug
    lua-load /usr/local/etc/haproxy/lagcheck.lua

defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000

frontend tidb
    bind *:4002
    mode tcp
    use_backend %[lua.pick_backend]

backend tidb-primary
    mode tcp
    server mysql-primary mysql-primary:3306 check

backend tidb-secondary
    mode tcp
    server mysql-secondary mysql-secondary:3306 check

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
    stats auth admin:admin
